<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dysaniazzz">

    <!-- Permission -->
    <!-- 第五章：访问系统的网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 第五章：接收开机启动广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 第七章：拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 第七章：读取系统联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 第八章：控制手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 第八章：向SD卡中写数据，注意：1、该权限隐含读权限；2、如果读写操作都是在应用关联目录，从Android 4.4开始是不需要申请这项权限的，可以使用maxSdkVersion="18"标识 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--用于表明我们的应用是需要相机的，但并不是正常运行所必不可少的组件，当然在使用时需要调用hasSystemFeature(PackageManager.FEATURE_CAMERA)判断相机是否可用-->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false"/>

    <!-- Baidu Map Start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- Baidu Map Stop -->

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 配置开发者Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="HGf1ycGxjAV1D4tGGLEaPpz1XYRcXUMF"/>

        <!-- Activity -->
        <!-- 登录页面 -->
        <activity android:name=".welcome.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 主页面 -->
        <activity android:name=".welcome.MainActivity"/>

        <!--第一章页面-->
        <activity android:name=".chapter01.Chapter01Activity"/>
        <activity android:name=".chapter01.HelloAndroidActivity"/>

        <!--第二章页面-->
        <activity android:name=".chapter02.Chapter02Activity"/>
        <activity android:name=".chapter02.LifeCycleTestActivity"/>
        <activity android:name=".chapter02.NormalActivity"/>
        <activity
            android:name=".chapter02.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity android:name=".chapter02.CommonUsageActivity"/>
        <activity android:name=".chapter02.ExampleActivity">
            <intent-filter>
                <action android:name="com.example.dysaniazzz.ACTION_START"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.example.dysaniazzz.MY_CATEGORY"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".chapter02.StandardActivity"
            android:launchMode="standard"/>
        <activity
            android:name=".chapter02.SingleTopActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".chapter02.SingleTaskActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".chapter02.SingleInstanceActivity"
            android:launchMode="singleInstance"/>

        <!--第三章页面-->
        <activity android:name=".chapter03.Chapter03Activity"/>
        <activity android:name=".chapter03.CommonWidgetsActivity"/>
        <activity android:name=".chapter03.RecyclerViewActivity"/>
        <activity android:name=".chapter03.ChatPageActivity"/>

        <!--第四章页面-->
        <activity android:name=".chapter04.Chapter04Activity"/>
        <activity android:name=".chapter04.FragmentUsageActivity"/>
        <activity android:name=".chapter04.NewsContentActivity"/>

        <!--第五章页面-->
        <activity android:name=".chapter05.Chapter05Activity"/>
        <activity android:name=".chapter05.BroadcastReceiverActivity"/>

        <!--第六章页面-->
        <activity android:name=".chapter06.Chapter06Activity"/>
        <activity android:name=".chapter06.FileStorageActivity"/>
        <activity android:name=".chapter06.SharedPreferencesStorageActivity"/>
        <activity android:name=".chapter06.DatabaseStorageActivity"/>
        <activity android:name=".chapter06.LitePalUsageActivity"/>

        <!--第七章页面-->
        <activity android:name=".chapter07.Chapter07Activity"/>
        <activity android:name=".chapter07.RuntimePermissionActivity"/>
        <activity android:name=".chapter07.ReadContactsActivity"/>

        <!--第八章页面-->
        <activity android:name=".chapter08.Chapter08Activity"/>
        <activity android:name=".chapter08.CameraAlbumActivity"/>
        <activity android:name=".chapter08.NotificationUsageActivity"/>
        <activity android:name=".chapter08.AudioPlayActivity"/>
        <activity android:name=".chapter08.VideoPlayActivity"/>

        <!-- 短信页面 -->
        <activity android:name=".activity.SmsActivity"/>
        <!-- 操作服务页面 -->
        <activity android:name=".activity.ServiceActivity"/>
        <!-- 展示网页页面 -->
        <activity android:name=".activity.WebActivity"/>
        <!-- 获取定位页面 -->
        <activity android:name=".activity.LocationActivity"/>
        <!-- 百度地图页面 -->
        <activity android:name=".activity.BaiduMapActivity"/>
        <!-- 传感器页面 -->
        <activity android:name=".activity.SensorActivity"/>
        <!-- 指南针页面 -->
        <activity android:name=".activity.CompassActivity"/>

        <!-- Receiver -->
        <!-- 第五章：开机启动的Receiver，这个广播已经被好多定制ROM屏蔽掉了 -->
        <receiver
            android:name=".chapter05.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- 定时器的Receiver -->
        <receiver android:name=".receiver.AlarmReceiver"/>

        <!-- Service -->
        <!-- MyService -->
        <service android:name=".service.DemoService"/>
        <!-- LongRunningService -->
        <service android:name=".service.LongRunningService"/>

        <!-- Provider -->
        <!-- 第七章：自定义对外共享数据的Provider -->
        <!--exported属性表示是否允许外部程序访问我们的内容提供器，enabled属性表示是否启用这个内容提供器-->
        <provider
            android:name=".chapter07.MyDatabaseProvider"
            android:authorities="com.example.dysaniazzz.provider"
            android:enabled="true"
            android:exported="true">
        </provider>
        <!--第八章：Android 7.0开始需要的内容提供器-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.dysaniazzz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>